/* Scrollbar for Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #ffcccc; /* Light red track (background of the scrollbar) */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Green thumb (scrolling handle) */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #ffcccc; /* Border with the same color as the track */
}

/* Scrollbar for Firefox */
* {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #4CAF50 #ffcccc; /* Thumb color and track color */
}

/* Styling for the hover effect */
::-webkit-scrollbar-thumb:hover {
    background-color: #388E3C; /* Darker green when hovered */
}

.loader-overlay ::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

body {
    background-color: #B71C1C;
}

.blue-link {
    color: #0000FF;
    text-decoration: none;
    text-decoration: underline;

}

.active-page-link {
    color: #9AFF90;
}
.display-none {
    display: none;
}
